<div class="navbar">
    <div class="logo">
        <a href="/">Skelbimai</a>    
    </div>
    <div class="spacer">
    </div>
    <div class="cart">
        <a href="/cart">Cart (<span class="cart-counter">0</span>)</a>
    </div>
</div>